$dark-black: #000;
$light-black: #444;
$lighter-black: #666;
$lightest-black: rgba(255, 255, 255, .65);
$milk-color: #e1e1e1;
$white: #fff;

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  .bottom-pagination {
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .pagination .button {
      float: none;
      display: inline-block;
      margin: 0 0 4px 0;
    }

    .pagination-button {
      background: none;
      border: 3px solid transparent;
    }
    .button + .button {
      margin-left: 10px;
    }
    .button {
      font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
      -webkit-appearance: none;
      font-size: 32px;
      text-shadow: none;
      line-height: 1.2;
      display: inline-block;
      outline: 0;
      padding: 10px 16px;
      margin: 0;
      position: relative;
      border-radius: 3px;
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-decoration: none;
      text-align: center;
      font-weight: bold;
      height: 32px;
      width: 32px;
    }
  }
  #viewport {
    width: 200%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    background-color: $milk-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "minimal_op minimal_frp" "dragging_op dragging_frp" "fixed_op fixed_frp" "shift_op shift_frp";
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    .canvas {
      position: relative;
      width: 100%;
      height: 100vh;
      box-sizing: border-box;
      border: 1px $light-black solid;
      p {
        width: 100%;
        position: absolute;
        text-align: center;
      }
      canvas {
        width: 100%;
        cursor: move;
        position: relative;
        z-index: 1;
      }
    }

    .pic {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $white;
    }
    #minimal_op_pic {
      background-image: url("../statics/minimal-op.png");
    }
    #minimal_frp_pic {
      background-image: url("../statics/minimal.png");
    }
    #dragging_op_pic {
      background-image: url("../statics/dragging-op.png");
    }
    #dragging_frp_pic {
      background-image: url("../statics/dragging.png");
    }
    #fixed_op_pic {
      background-image: url("../statics/fixed-op.png");
    }
    #fixed_frp_pic {
      background-image: url("../statics/fixed.png");
    }
    #shift_op_pic {
      background-image: url("../statics/axisLock-op.png");
    }
    #shift_frp_pic {
      background-image: url("../statics/axisLock.png");
    }
  }
}
